body {
    font-family: 'Poppins', sans-serif;
    /* Set default weight of texts to 400 */
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6,p{
    color: #262626
}

/* Add line height so it is easier for users to read! */
p {
    line-height: 2em;
}


/* Navigation Styling */
.navbar-brand {
    color: #262626;
    font-weight: 700;
    font-size: 1.3em;
}

/* Custom pink span color text */
.text-pink {
    color: #ED76C1;
}

.main-header h1 {
    font-size: 5em;
}

.main-header h3 {
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.21em;
    font-weight: 400;
    color: gray;
}

footer.footer {
    font-weight: 700;
    /* Gradient Background */
    background: linear-gradient(180deg, rgba(255,186,229,1) 0%,  rgba(237,118,193,1) 100%);
}

footer.footer > .row{
    height: 100%;
}

table{
    /* Follow bootstrap border color hence why no color */
    border: 3px solid;
}


/* BOOTSTRAP CUSTOM CLASSES */
h1, h2{
    font-weight: 700;
}

h3{
    font-weight: 500;
}

img{
    /* Transition for hovering */
    transition: 0.5s ease-in-out;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

/*  Every other image has a box shadow EXCEPT for the ones in header! */
.main-header img{
    box-shadow: none;
}

img:hover{
    transform: scale(1.02);
}

body, .navbar{
    transition: all 0.3s ease;
}